*{ margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Georgia, serif;
}


header, footer {background-color: blueviolet; 
    min-height: 15vh ;
}

header {padding: 10px;
} 
header div h1,h2 { display: flex;
    justify-content: flex-start;
}

header nav ul {list-style: none;
display: flex;
justify-content: flex-end;
flex-direction: row;
}

header ul li {padding: 10px;}

main {background-color:lightgreen;
    min-height: 70vh;
    position: relative;
    }
 
    .about-me {width: 33%;
    border: 1px solid black;
    padding-left: 10px;
    
 }
#big-box{ 
    margin: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    }

.button-1 {position:absolute;
top: 75%;
font-family:'Brush Script MT', cursive;
font-size: 32px;

}

.small-box {display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 

    position: relative;
}




footer {padding: 20px;
}

footer h2 {display: flex;
justify-content: flex-start;}

footer ul {
    list-style: none; 
    display: flex;
justify-content: flex-end;}

@media screen and (max-width:992px) {
    section {
        width:45%;
    }
}
@media screen and (max-width:576px) {
    section {
        width:97%;
    }
}